@{
    ViewData["Title"] = "Home Page";
}

<div id="react-wrapper" class="w-100"></div>

@section Scripts {
    <environment include="Development">
        <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
}
